body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.main-container {
    display: flex;
    height: 80%;
    width: 100%;
}

.taskbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    background-color: #fff; /* White */
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd; /* Light Grey */
}

.logo {
    height: 120%;
}

.taskbar-btn {
    background-color: #000; /* Black */
    color: #fff; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.taskbar-btn:hover {
    background-color: #444; /* Dark Grey */
}

.wrapper {
    display: flex;
    width: 20%;
    height: 100%;
    background: #f0f4ff; /* Light Blue */
}

.sidebar {
    width: 20vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBEAFE; /* Very Light Blue */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #cacaf7; /* Light Purple */
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #EFF6FF; /* Very Light Blue */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #BFDBFE; /* Lighter Blue */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b8b8f4; /* Medium Light Purple */
}

.sidebar-btn {
    width: 100%;
    background-color: #a6a6f2; /* Medium Purple */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar-btn:hover {
    background-color: #9595ef; /* Light Purple */
}

.container {
    position: relative; 
    width: 80%;
    height: 100%;
    background: url('image.jpg') no-repeat center center;
    background-size: cover;
}

.button {
    position: absolute;
    width: 1%;
    height: 1%;
    background-color:#d81f1f; /* Medium Purple */
    border: #373535;
    border-width: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.5);
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 20px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type="text"],
.form-container input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="time"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #443fe2; /* Dark Purple */
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type="date"]:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.booking-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.booking-item button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.booking-item button:hover {
    background-color: #e60000;
}
